<div class="nectracker-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well well-sm">
                <legend ng-show="loaded && form.id > 0"><a href=""><i class="glyphicon glyphicon-user"></i></a> Анкета кандидата
                    <div style="padding-left: 25px;padding-right: 25px;">
                        <h4>
                            <small>Совместная программа обучения Университета ИТМО и компании Netcracker Technology
                            <br><br>Компания Netcracker приглашает студентов 3-6 курсов пройти очное семестровое обучение по направлениям Enterprise Java Development, Business Analysis и System Engineering. Обучение проводится специалистами компании, состоит из теоретической и практической частей, включает выполнение проектов в небольшой команде.
                                <br>Успешно закончившим программу предоставляется возможность присоединиться к команде Netcracker!
                                <br>Чтобы узнать подробнее – заполняйте анкету кандидата ниже и приходите на презентацию Netcracker во вторник, 21 февраля, в 16:00 в актовый зал ИТМО (Кронверкский пр., 49; вход со стороны Сытнинской улицы, 14).
                            </small>
                        </h4>

                        <h6 style="color: red">* Обязательно</h6>
                    </div>
                </legend>
                <form-directive form="form" ng-show="loaded && form.id > 0"> </form-directive>
                <error-directive ng-show="loaded && form.id == 0"> </error-directive>
            </div>
        </div>
    </div>
</div>

