<div class="container">
    <div class="row">
        <div class="col-md-12 well well-sm">
            <legend><a href=""><i class="glyphicon glyphicon-users"></i></a> Centres list
                <a ng-hide="!hasAdminGrants" class="ng-hide" ng-click="add()" style="float:right"><button class="btn btn-default btn-xs" type="button"
                                                                        >New Centre</button></a>
            </legend>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th colspan="2" width="15%">Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td><a ng-href="#/builder/list/{{x.objectId}}">{{x.name}}</a></td>
                    <td ng-hide="!hasAdminGrants && !hasAdminCentreGrants" class="ng-hide"><a ng-href="#/roles/{{x.objectId}}">Roles</a></td>
                    <td ng-hide="!hasAdminGrants && !hasAdminCentreGrants" class="ng-hide"><a ng-href="#/users/{{x.objectId}}">Users</a></td>
                    <td ng-hide="!hasAdminGrants && !hasAdminCentreGrants" class="ng-hide"><a ng-click="edit(x.objectId);">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>