<div class="container">
    <div class="row">
        <div class="col-md-12 well well-sm">
            <legend><a href=""><i class="glyphicon glyphicon-users"></i></a> Forms list
                <a ng-hide="!hasAdminGrants && !hasAdminCentreGrants" class="ng-hide" href="#/builder/create/{{centreId}}" style="float:right"><button class="btn btn-default btn-xs" type="button">New Form</button></a>
            </legend>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th colspan="2" width="15%">Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.form_name}}</td>
                    <td>{{x.quests_count}}</td>
                    <!--<td><a ng-href="/#/form/{{x.form_id}}">Show</a></td>-->
                    <td ng-hide="!hasAdminGrants && !hasAdminCentreGrants" class="ng-hide"><a ng-href="#/builder/edit/{{x.form_id}}" >Edit</a></td>
                    <td><a ng-href="#/questionnaires/{{x.form_id}}">Questionnaires</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>