<form name="adminForm" id="adminForm" style="padding-left: 25px; padding-right: 25px">
    <div class="modal-header">
        <a href=""><i class="glyphicon glyphicon-user"></i></a> Student Questionnaire
    </div>
    <div class="modal-body">
        <h3 ng-show="form.id > 0">Form</h3>
        <div ng-repeat="field in form.form_fields" style="display: -webkit-box;">
            <field-directive field="field">

            </field-directive>
        </div>
        <!--<div ng-repeat="x in data" style="margin-left: 20px">
            <blockquote>
                <p>{{x.title}}</p>
                <footer>{{x.answer}}</footer>
            </blockquote>
        </div>

        <h3 ng-show="curatorForm.id > 0">Curator Form</h3>

        <div ng-repeat="field in curatorForm.form_fields" style="display: -webkit-box;">
            <field-directive field="field">

            </field-directive>
        </div>

        <h3 ng-show="hrForm.id > 0">HR Form</h3>
        <div ng-repeat="field in hrForm.form_fields" style="display: -webkit-box;">
            <field-directive field="field">

            </field-directive>
        </div>-->

        <div class="col-md-12" style="padding-top:25px">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!adminForm.$valid" ng-click="submit()">Save</button>
        </div>

    </div>
    <div class="modal-footer"></div>

</form>