<div class="container">
    <div class="row">
        <div class="col-md-12 well well-sm">
            <legend><a href=""><i class="glyphicon glyphicon-users"></i></a> Users list
                <a ng-click="add()" style="float:right"><button class="btn btn-default btn-xs" type="button"
                                                                class="ng-hide">New User</button></a>
            </legend>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th colspan="2" width="15%">Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.name}}</td>
                    <td><a ng-click="edit(x.objectId);">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>