<div class="form-group">
	<div class="col-md-12 ">
		<h4>{{field.title}}
			<small style="color: red;" ng-show="field.field_required">*</small>
		</h4>
		<h6>{{field.description}}</h6>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
			<select ng-change="stateChangedSingle(field)" ng-model="field.field_value" name="state" class="form-control selectpicker"  ng-required="field.field_required" ng-disabled="field.field_disabled">
				<option  ng-repeat="option in field.field_options"
						ng-selected="option.option_value == field.field_value"
						value="{{option.option_value}}">{{option.title}}</option>
			</select>
		</div>
	</div>
</div>