<div class="form-group">
    <div class="col-md-12">
        <h4>{{field.title}}
            <small style="color: red;" ng-show="field.field_required">*</small>
        </h4>
        <h6>{{field.description}}</h6>
        <div ng-repeat="option in field.field_options" class="radio">
            <label>
                <input type="radio" value="{{option.option_value}}" ng-model="field.field_value"
                       ng-required="checkboxCondition(field)" ng-disabled="field.field_disabled" ng-change="stateChangedSingle(field)" ng-checked="option.option_selected"/>
                {{option.title}}
            </label>
        </div>
    </div>
</div>