<div class="form-group">
    <div class="col-md-12 ">
        <h4>{{field.title}}
            <small style="color: red;" ng-show="field.field_required">*</small>
        </h4>
        <h6>{{field.description}}</h6>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" rows="6" name="comment" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required" ng-disabled="field.field_disabled"></textarea>
        </div>
    </div>
</div>