<form name="adminForm" id="adminForm" style="padding-left: 25px; padding-right: 25px">
    <div class="modal-body">

        <div class="col-md-12" style="margin-top: 10px;">
            <h4>Name
                <small style="color: red;">*</small>
            </h4>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input class="form-control" type="text" ng-model="object.name">
            </div>
            <h4>Password
                <small style="color: red;">*</small>
            </h4>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input class="form-control" type="password" ng-model="object.password">
            </div>
            <h4>Roles
                <small style="color: red;">*</small>
            </h4>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
               <select ng-change="stateChangedSingle()" multiple class="form-control"  ng-multiple="true"
                        ng-options="item as item.map.name for item in rolesList" ng-model="selectedValues">

               </select>
            </div>

        </div>

        <div class="col-md-12" style="padding-top:25px">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!adminForm.$valid" ng-click="submit()">Save</button>
        </div>

    </div>
    <div class="modal-footer"></div>
</form>