<style>
    input.ng-invalid {
        background-color:pink;
    }
    input.ng-valid {
        background-color:white;
    }
</style>
<form ng-show="!submitted"  name="studentForm" id="myForm123" style="padding-left: 25px; padding-right: 25px" ng-show="!form.submitted">
    <div ng-repeat="field in form.form_fields">
        <field-directive field="field">

        </field-directive>
    </div>
    <!--<div class="col-md-8">
        <div class="alert alert-success" role="alert" id="success_message">Success
            <i class="glyphicon glyphicon-thumbs-up"></i> Thanks .
        </div>
    </div>-->
    <div class="col-md-12" style="padding-bottom: 25px;padding-top:25px">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!studentForm.$valid" ng-click="submit()">Отправить</button>
    </div>
</form>
<div ng-show="submitted" style="text-align:center;">Спасибо! Ваша анкета принята и обрабатывается. Мы свяжемся с Вами.</div>