<form name="adminForm" id="adminForm" style="padding-left: 25px; padding-right: 25px">
    <div class="modal-header">
        <a href=""><i class="glyphicon glyphicon-user"></i></a> Set Grants
    </div>
    <div class="modal-body">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Role name</th>
                <th>Read access</th>
                <th>Write access</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="grant in fieldGrants">
                <td>{{grant.map.role.name}}</td>
                <td><input ng-value="1" type="checkbox" ng-model="grant.map.read"></td>
                <td><input ng-value="2" type="checkbox" ng-model="grant.map.write"></td>
            </tr>
            </tbody>

        </table>
        {{data}}
        <div class="col-md-12" style="padding-top:25px">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="setGrants(field)">Save</button>
        </div>

    </div>
    <div class="modal-footer"></div>

</form>