<legend ><i class="glyphicon glyphicon-search"></i> 404 Error
                <div style="padding-left: 25px">
                    <h4 style="text-align: center">
                        The page is not found.
                    </h4>

                </div>
            </legend>
